.grid {
    width: 69.5px;
    height: 69.5px;
    border: solid 1px #333;
    position: absolute;
}

.r1 {
    top: 0;
}

.r2 {
    top: 70px;
}

.r3 {
    top: 140px;
}

.r4 {
    top: 210px
}

.r5 {
    top: 280px
}

.r6 {
    top: 350px
}

.r7 {
    top: 420px
}

.r8 {
    top: 490px
}

.c1 {
    left: 0
}

.c2 {
    left: 70px;
}

.c3 {
    left: 140px;
}

.c4 {
    left: 210px
}

.c5 {
    left: 280px
}

.c6 {
    left: 350px
}

.c7 {
    left: 420px
}

.c8 {
    left: 490px
}

.grid.black::before {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    border: solid 2px #333;
    background-color: black;
    position: relative;
    top: 5px;
    left: 5px;
}

.grid.white::before {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    border: solid 2px #333;
    background-color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

.move::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #333;
    position: relative;
    top: 29.5px;
    left: 29.5px;
}

.lastMove::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: relative;
    top: -29.5px;
    left: 29.5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
}

.dot-top {
    top: 135px;
}

.dot-bottom {
    bottom: 135px;
}

.dot-left {
    left: 135px;
}

.dot-right {
    right: 135px;
}

#board-container {
    width: 560.5px;
    height: 560.5px;
    display: inline-block;
    position: relative;
    background-color: #248A67;
}

html {
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
}

.toggle {
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    padding: 3px
}

input[type="radio"]+div {
    display: inline-block;
    border-radius: 5px;
    min-width: 70px;
    padding: 3px;
    margin: 2px;
    text-align: center;
    cursor: pointer;

    input:checked+& {
        background-color: #1971C2;
    }
}

button {
    display: inline-block;
    border: solid 3px transparent;
    background-color: #1971C2;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    padding: 6px 15px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
height:38px;
    &:hover {
        background-color: #1864AB;
    }

    &.selected {
        background-color: dodgerblue;
        color: white;

        &:hover {
            border: solid 3px transparent
        }
    }

}

input[type="radio"] {
    display: none;
}

#side {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 598.5px);
    height: 100%;
}

.sideCard {
    border: solid 2px #373A40;
    border-radius: 5px;
    padding: 9px;
    margin: 3px;
    height: calc(50% - 24px);
    overflow-y: auto;
}

#side div.line {
    margin-bottom: 3px;
    font-size: 16px
}

#title {
    height: 36px;
    position: relative;
    border-bottom: solid 2px #373A40;
}

#title>div {
    font-size: 18px;
    display: inline-block;
    margin: 9px;
    height: 18px;
    line-height: 1;
}

h2 {
    margin: 0;
    font-size: 30px;
}

#scoreboard {
    /*width: 200px;*/
    position: relative;
}

#scoreboard>div {
    height: 30px;
    position: relative;
    display: inline-block;
    width: 60px
}

.score {
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    line-height: 1;
}

.indicator {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;

    &.active::after {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #ccc;
        content: "";
        display: block;
        position: relative;
        top: 4.5px;
        left: 4.5px
    }
}

hr {
    border-top: solid 2px #373A40;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 0;
}

.playerName {
    font-size: 15px;
    line-height: 1;
    text-align: center;
    position: relative;
    right: 7.5px;
}

#container {
    padding: 9px;
    width: 90%;
    height: calc(90% - 30px);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    background-color: #1A1B1E;
    color: white
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {

    background-color: gray;
    border-radius: 4px;
}

#notation {
    counter-reset: moveNo;
}

#notation>span {
    counter-increment: moveNo;
    font-size: 16px;

    &>span {
        display: inline-block;
        border-radius: 5px;
        font-weight: 500;
        padding: 5px;

        &:hover {
            background-color: #303134;
            cursor: pointer;
        }

        &.navigationPosition {
            background-color: #303134;

            &:hover {
                background-color: #35383C;
            }
        }
    }
}

#notation>span::before {
    content: counter(moveNo)". ";
    color: #C1C2C5;
    font-size: 14px
}

#bottomButtons button {
    width: calc(25% - 4.8px);
    background-color: #25262B;
    border: solid 2px #373A40;

    &:hover {
        background-color: #2C2E33;
    }
}

.tab {
    width: calc(50% - 3px);
    display: inline-block;
    border-bottom: solid 3px #373A40;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #C1C2C5;
    cursor: pointer;

    &.selected {
        border-bottom: solid 3px #1971C2;
    }

    &:hover {
        background-color: #2C2E33;
    }
}

.tab-content:not(.show) {
    display: none;
}

.analysis-line {
    font-size: 16px;
}

.analysis-line span {
    display: inline-block;
    font-family: Consolas, monospace;
    padding: 9px;
    border-radius: 5px;
    margin-bottom: 3px;
    background-color: #C1C2C5;

    &.black {
        background-color: black;
        color: white;
    }

    &.white {
        background-color: white;
        color: black
    }
}

.mono{
    font-family:Consolas,monospace;
}
.menuButton{
    background-color: transparent;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    &:not(.menuButtonRed):hover{
        background-color: #303134;
    }
    &.menuButtonRed{
        color:#FA5252;
        &:hover{
            background-color: #502E32;
        }
    }
}